/*
ToDo:
- add Fonts via css import
- switch to tailwind csss
- refactor with webcomponents
- outsource content to ?? (contentful, storyblock, notion?)
- add my personal skills to the sidebar
*/


* {
    box-sizing: border-box;
}

html {
    background: url(img/background-min.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-size: 15px;
    margin: 0px;
    font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 0 20px 0;
}

#page {
    background-color: white;
    margin: 20px auto;
    width: 85%;
    min-width: 990px;
    max-width: 1440px;
    box-shadow: 0px 5px 20px rgb(177, 177, 177);
    border-radius: 10px;
    overflow: hidden;
}

.wrapper-main,
.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;

}

.main,
.header-main {
    width: 75%;
    padding: 20px 40px 40px 40px;
}

.header-main P {
    font-size: 20px;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
p {
    padding: 0px;
    margin: 0px;
}

h1,
h2,
h3 {
    color: #76a5af;
    font-family: "Quicksand", cursive;
    font-weight: normal;
    font-style: italic;
}

h1 {
    font-size: 70px;
    font-style: italic;
    font-weight: 200;
}

h2 {
    margin-top: 0px;
    font-size: 30px;
}

h3 {
    color: #76a5af;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 500;
}

h4 {
    font-size: 13px;
    font-weight: normal;
}

.experience-item {
    line-height: 26px;
    margin-bottom: 20px;
    overflow: hidden;
}

.experience-item UL {
    padding: 0 20px;
}

.header-sidebar {
    background-color: #a2c4c9;
    padding: 20px;
    width: 25%;
}

.header-sidebar a {
    color: black;
    text-decoration: none;
}

.header-sidebar a:hover {
    text-decoration: underline;
}

.contact-data {
    padding: 15px 0 0 0px;
    margin: 0px;
    list-style: none;
}

.contact-data LI {
    font-size: 13px;
    line-height: 30px;
    display: flex;
    justify-content: left;
    align-items: center; /* center icons vertical */
}

.contact-data LI IMG {
    margin-right: 10px;
}

.sidebar {
    background-color: #d0e0e3;
    width: 25%;
}

.sidebar-section {
    padding: 0px 20px;
    font-size: 0.80rem;
    color: grey;
}

.sidebar-section h3 {
    margin: 30px 0 10px 0;
    font-size: 15px;
}

.sidebar-section p {
    line-height: 20px;
}

.sidebar-section ul {
    list-style-type: square;
    padding: 0 20px;
    margin: 0px;
    line-height: 20px;
}

.sidebar-section .no-bullets {
    padding: 0px;
    margin: 0px;
}

.sidebar-section .no-bullets LI {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

P {
    margin: 10px 0px;
    display: block;
}

footer {
    width: 85%;
    min-width: 990px;
    max-width: 1440px;
    margin: 0 auto;
    font-size: 0.8rem;
    text-align: center;
}

footer A {
 color: black;
}